.Navbar{
display: flex;
gap: 200px;
list-style: none;

}
 .Navbar li {
    list-style-type: none;
}
.products{
    display: flex;
    gap:100px;
}
products ul {
    list-style-type: none;
}

.products li {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
}